
body
{
    font-family: Arial;
    margin: 0;
    padding: 0;
    opacity: 0.8;
}

#FondMenu
{
    width: 100%;
    height: 45px;
    background-color: #FFF9ED;
    border-radius: 0px 0px 4px 4px;
    font-size: 1.2em;
}

#navigation
{
    font-family: "Times New Roman";
    margin-right: auto;
    margin-left: auto;
    display: table;
    padding: 0;
    margin-top: 0;
}

#navigation li
{
    display: table-cell;
    width: 180px;
    transition: 1s;
}

#navigation li:hover
{
    width: 190px;
    transition: 1s;
}

#navigation a
{
    color: white;
    text-decoration: none;
    display: block;
    line-height: 40px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0,0,0,0.2);
    transition: text-shadow, color, 1s;
    color: black;
}

#navigation a:hover
{
    color: black;
    text-shadow: 0 1px 0 rgba(255,255,255,0.3);
    transition: 1s;
    background: rgba(255,255,255,0.1);
    border-bottom: 4px solid rgba(255,255,255,0.8);
}

#menu a::before
{
    content: '';
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 5px solid rgba(0,0,0,0.2);
    left: 50%;
    border: 5px;
}

#pres
{
    display: grid;
    grid-template-rows: 50%;
    margin-left: 1%;
    margin-right: 50%;
    margin-top: 1%;
    font-style: italic;
    color: black;
    font-size: 35px;
    text-align: center;
}

#pr
{
    display: grid;
    background-image: url(img.png);
    border-radius: 10px 0;
    background-repeat: no-repeat;
    padding-bottom: 1%;
    background-size: 100% 100%;
}

#pres2
{
    display: grid;
    grid-template-rows: 50%;
    margin-left: 50%;
    margin-right: 1%;
    margin-top: 1%;
    font-style: italic;
    font-size: 50px;
    font-size: 35px;
    color: white ;
    text-align: center;
}

#sec
{
    text-align: center;
    text-decoration: underline;
    color: #7C6330;
}

#rep1
{
    display: grid;
    background-size: 100%;
    color: #7C6330;
}

.pic1
{
    margin-left: 5%;
    width: 500px;
    height: 400px;
}

.txt1
{
    margin-left: 65%;
    margin-top: -20%;
    font-size: 30px;
    font-style: italic;
    color: #7C6330;
}

.txt1 p
{
    font-size: 50px;
    margin-left: -25%;
}

a
{
    color: #7C6330;
}

.trans
{
    text-align: center;
    font-size: 50px;
}

#rep2
{
    display: grid;
    background-size: 100%;
}

#pic2
{
    margin-left: 65%;
    margin-top: 2%;
    width: 500px;
    height: 400px;
}

.txt2
{
    margin-left: 15%;
    font-size: 30px;
    font-style: italic;
    color: #7C6330;
}

.txt2 p
{
    font-size: 50px;
    margin-left: -5%;
    margin-top: -20%;
}

#bg
{
    background-color: #F3F1EA;
}

img
{
    border-radius: 15px;
}

footer
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: white;
    background-color: black;
    padding: 0;
}

hr {
    width: 25%;
    color: #7C6330;
}