body {
	font-family: Arial;
	margin: 0;	
	padding: 0;
	opacity: 0.8;
    background-image: url(cha.jpg);
}

#FondMenu{
    width: 100%;
    height: 45px;
    background-color: #FFF9ED;
    border-radius: 0px 0px 4px 4px;
    font-size: 1.2em;

}

#navigation{
    font-family: "Times New Roman";
    margin-right: auto;
    margin-left: auto;
    display: table;
    padding: 0;
    margin-top: 0;
}

#navigation li{
    display: table-cell;
    width: 180px;
    transition: 1s;
}

#navigation li:hover{
    width: 190px;
    transition: 1s;
}

#navigation a{
    color: white;
    text-decoration: none;
    display: block;
    line-height: 40px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0,0,0,0.2);
    transition: text-shadow, color, 1s;
    color: black;
}

#navigation a:hover{
    color: black;
    text-shadow: 0 1px 0 rgba(255,255,255,0.3);
    transition: 1s;
    background: rgba(255,255,255,0.1);
    border-bottom: 4px solid rgba(255,255,255,0.8);
}

#menu a:before{
    content: '';
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 5px solid rgba(0,0,0,0.2);
    left: 50%;
    border: 5px;
}


h2 {
    text-align: center;
    margin-top: 2%;
    color: #7C6330;
}

#f1 {
    display: grid;
    border: 0.1em solid black;
    margin-left: 2%; 
    margin-right: 1%;
    background-color: white;
}

#f1 h3 {
    text-align: center;
    font-size: 25px;
}

#f1 li {
    margin-left: 3%;
    font-size: 20px;
}
#f1 p {
    font-size: 18px;
    text-align: center;
}
#f2 {
    display: grid;
    border: 0.1em solid black;
    margin: 5% 1% 1% 2%;
    background-color: white;
}
#f2 h3 {
    text-align: center;
    font-size: 25px;
}

#f2 li {
    font-size: 20px;
    margin-left: 3%;
}

#f2 p {
    text-align: center;
    font-size: 18px;
}
a {
    color: #7C6330; 
    text-decoration: none;
}
h4 {
    text-align: center;
    font-size: 20px;
}

.gauche {
    padding-bottom: 1%;
}
#box {
    display: grid;
    border: 0.1em solid black;
    background-color: white;
    margin: 10% 20% 20%;
}

.button {
    margin-left: 47%;
}


.fin {
    display: grid;
    margin-left: 90%;
    font-size: 20px;

}


footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: white;
    background-color: black;
    padding: 0;
}

