

body {
	font-family: Arial;
	margin: 0;	
	padding: 0;
	opacity: 0.8;
    background-image: url(mr.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

#FondMenu{
    width: 100%;
    height: 45px;
    background-color: #FFF9ED;
    border-radius: 0px 0px 4px 4px;
    font-size: 1.2em;

}

#navigation{
    font-family: "Times New Roman";
    margin-right: auto;
    margin-left: auto;
    display: table;
    padding: 0;
    margin-top: 0;
}

#navigation li{
    display: table-cell;
    width: 180px;
    transition: 1s;
}

#navigation li:hover{
    width: 190px;
    transition: 1s;
}

#navigation a{
    color: white;
    text-decoration: none;
    display: block;
    line-height: 40px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0,0,0,0.2);
    transition: text-shadow, color, 1s;
    color: black;
}

#navigation a:hover{
    color: black;
    text-shadow: 0 1px 0 rgba(255,255,255,0.3);
    transition: 1s;
    background: rgba(255,255,255,0.1);
    border-bottom: 4px solid rgba(255,255,255,0.8);
}

#menu a:before{
    content: '';
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 5px solid rgba(0,0,0,0.2);
    left: 50%;
    border: 5px;
}

.all {  
    display: grid;
    margin-top: 2%;
    
}
.mlegal {
    margin-left: 5%;
    margin-right: 65%;
    border: 0.1em solid black;
    background-color: #FFF9ED;
}

.sml{
    margin-left: 2%;
}


.sml li {
    margin-left: 3%;
}

.cont {
    margin-left: 5%;
    border: 0.1em solid black;
    margin-top: 1%;
    margin-right: 65%;
    background-color: #FFF9ED;
    margin-bottom: 1%;
}

.sc {
    margin-left: 2%;
}

.las {
    margin-bottom: 100%;
    color: white;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: white;
    background-color: black;
    padding: 0;
}