body {
	font-family: Arial;
	margin: 0;	
	padding: 0;
	opacity: 0.8;
    background-color: #F3F1EA;
}

#FondMenu{
    width: 100%;
    height: 45px;
    background-color: #FFF9ED;
    border-radius: 0px 0px 4px 4px;
    font-size: 1.2em;

}

#navigation{
    font-family: "Times New Roman";
    margin-right: auto;
    margin-left: auto;
    display: table;
    padding: 0;
    margin-top: 0;
}

#navigation li{
    display: table-cell;
    width: 180px;
    transition: 1s;
}

#navigation li:hover{
    width: 190px;
    transition: 1s;
}

#navigation a{
    color: white;
    text-decoration: none;
    display: block;
    line-height: 40px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0,0,0,0.2);
    transition: text-shadow, color, 1s;
    color: black;
}

#navigation a:hover{
    color: black;
    text-shadow: 0 1px 0 rgba(255,255,255,0.3);
    transition: 1s;
    background: rgba(255,255,255,0.1);
    border-bottom: 4px solid rgba(255,255,255,0.8);
}

#menu a:before{
    content: '';
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 5px solid rgba(0,0,0,0.2);
    left: 50%;
    border: 5px;
}

#pres {
    text-align: center;
    font-size: 30px;
    font-weight: lighter;
    border: 0.1em solid black;
    margin-left: 2%;
    margin-right: 2%;
}










#pres1 {
    display: grid;
    margin-top: 10%;
}







#cha img {
    border-radius: 20px;
    margin-left: 5%;
    width: 600px;
    height: 400px;
}

#cha img:hover {
    width:700px;
    height:500px;
}

#txtcha p {
    font-size: 25px; 
    margin-left: 45%;
    margin-top: -17%;
    text-align: center;
    color: #7C6330;
}







#pres2 {
    display: grid;
}





#sdb img {
    border-radius: 20px;
    margin-left: 5%;  
    width: 600px;
    height: 400px; 
}

#sdb img:hover {
    width: 700px;
    height: 500px;
}

#sdbtxt {
    font-size: 25px; 
    margin-left: 45%;
    margin-top: -17%;
    text-align: center;
    color: #7C6330;
}


hr 
{
    width: 25%;
    color: #7C6330;
}




#pres3 {
    display: grid;

}

#cui img {
    border-radius: 20px;
    margin-left: 5%;   
    width: 600px;
    height: 400px;
}

#cui img:hover {
    width: 700px;
    height: 500px;
}

#cuitxt {
    font-size: 25px; 
    margin-left: 45%;
    margin-top: -17%;
    text-align: center;
    color: #7C6330;
}

.lien {
    

    text-align: right;
}

.lien a {
    color: #7C6330;
}

#box {
    display: grid;
    border: 0.1em solid black;
    background-color: white;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: white;
    background-color: black;
    padding: 0;
}